*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Mulish;
    font-size: 1.3vw;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7vh 0;
}

.header-logo-name{
    display: flex;
    align-items: center;
}

.header-logo-name h1{
    font-size: 1.8rem;
    font-weight: 900;
}

.header-logo-name img{
    padding: 0 1.3vw 0 0;
    width: 5.2vw;
    height: 7.2vh;
}

span{
    color: #FF5400;
}

nav ul{
    display: flex;
}

nav ul li{
     padding: 0 0 0 4vw;
     list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}

nav ul li a:hover{
    color: #FF5400;
}

.explore-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#131318, #13131800),url('Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    height: 76vh;
    margin: 0 auto;
    border-radius: 10px;
}

.explore-travel-input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    width: 57vw;
    height: 11vh;
    border-radius: 8px;
    background-color:#FFFFFF4D;
}

.explore-travel-text h1{
    text-align: center;
    padding: 6.5vh 0;
    font-size: 3.6rem;
    color: white;
    font-weight: 800;
    line-height: 80px;
}



.explore-travel-text p{
    padding: 0 0 6.5vh 0;
    color: white;
}

.explore-travel-input-btn input, select{
    width: 12.5vw;
    height: 7.5vh;
    font-size: 0.9rem;
    padding: 0 0 0 1vw;
    font-weight: 400;
    border-radius: 8px;
    color: #13131880;
}

.explore-travel-input-btn input{
    border: 1px solid white;
}

.similar-btn{
    background-color: #FF5400;
    color: white;
    height: 7.5vh;
    width: 12.5vw;
    border-radius: 8px;
    border: 1px solid  #FF5400;
}

.explore-travel-input-btn button{
    font-size: 0.9rem;
    text-align: center;
    font-weight: 700;
}

.popular-tour-section{
    display: flex;
    justify-content: space-evenly;
}

.popular-tour-text{
    margin: 15vh 0;
    width: 39%;
    height: 86.5vh;
}

.popular-tour-img{
    margin: 15vh 0;
    width: 39%;
    height: 86.5vh;
    background-image: url(Rectangle\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.similar-h1{
    padding: 0 0 5.5vh 0;
    font-size: 2.3rem;
    font-weight: 800;
}

.similar-p{
    font-size: 1rem;
    color: #5A5A5D;
}

.popular-tour-text ul{
   padding: 3vh 0 3vh 2vw;
}

.popular-tour-text li{
    padding: 2vh 0;
}

.popular-tour-text .second-p{
    padding: 0 0 8vh 0;
}

.popular-tour-text button{
    font-size: 1.1rem;
}
.destination-1{
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.destination-text p{
    padding: 5.5 0 0  0;
}

.destination-2 {
    width: 85%;
    margin: 0 auto;
    padding: 7vh 0 0 0;
    height: auto;
    display: grid;
    row-gap: 15px;
}

.row {
    gap: 15px;
}

.row img {
    width: 100%;
    height: 100%;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.row-2 {
    display: grid;
    grid-template-columns: 1.7fr 2.2fr 1.2fr;
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.img-name {
    position: relative;
}

.img-name h1 {
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

.choose-us-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.choose-text-img{
    display: flex;
    justify-content: space-between;
}

.choose-div-1{
    margin: 15vh auto;
    text-align: center;
}

.similar-div{
    width: 35vw;
    height: 37vh;
    padding: 0 0 0 2vw;
    border-radius: 10px;
}

.choose-div-2{
    background-color: #FBB56333;;
}

.choose-div-4{
    background-color: #E9444433;
    margin: 3vh auto;
}

.choose-div-3{
    background-color: #29CEF633;
}

.similar-h3{
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 30px;
    padding: 2vh 0;
}

.newsletter-section{
    margin: 15vh auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter{
    width: 39%;
    height: 60vh;
    border: 1px solid #FF5400;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0 0 0 3vh;
}

.newsletter p{
    padding: 3vh 0 5vh 0;
}
 
.newsletter input{
    width: 27vw;
    height: 7vh;
    background-color: #1313180D;
    border: 1px solid #1313180D;
    border-radius: 5px;
    font-size: 1rem;
}

.newsletter button{
    width: 27vw;
    font-size: 1.2rem;
}

.newsletter-img{
    background-image: url(Rectangle\ 8\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 39%;
    height: 60vh;
    border-radius: 10px;
}



@media screen and (max-width:576px){
    header{    
        margin: 4vh 0 ;
    }
    .header-logo-name h1{
        font-size: 2.5rem;
    }
    .header-logo-name img{
        height: 5vh;
    }
    nav ul li a{
        font-size: 1.5rem;
    }
   .explore-section{
    justify-content: flex-start;
    width: 92%;
    height: 75vh;
   }
   .explore-travel-text h1{
    padding: 1vh 0;
    font-size: 4rem;
    line-height: 60px;
   }
   .explore-travel-text p{
    font-size: 1.5rem;
    line-height: 17px;
    padding: 0 0 4vh 0;
   }
   .explore-travel-input-btn{
    width: 40vw;
    height:44vh;
    flex-direction: column;
    gap: 2.5vh;
   }
   .explore-travel-input-btn input, select{
    width: 34vw;
    height: 8vh;
    font-size: 1.6rem;
   }
   .explore-travel-input-btn button{
    width: 34vw;
    height: 8vh;
    font-size: 1.6rem;
   }
   .popular-tour-section{
    flex-direction: column;
    align-items: center;
   }
   .popular-tour-text{
    margin: 6vh 0 0 0;
    width: 92%;
    height: 79vh;
   }
   .popular-tour-img{
    margin: 6vh 0;
    width: 92%;
    height: 65vh;
   }
   .similar-h1{
    font-size: 3.5rem;
    padding: 0 0 2.5vh 0;
   }
   .similar-h3{
    font-size: 2.5rem;
   }
   .similar-p{
     font-size: 2.3rem;
   }
   .popular-tour-text ul{
    padding:  2vh 0 2vh 4.5vw;
   }
   .popular-tour-text li{
    padding: 2.2vh 0;
   }
   .popular-tour-text .second-p{
    padding: 0 0 5vh 0;
   }
   .popular-tour-text button{
    width: 24vw;
    height: 9vh;
    font-size: 2.5rem;
   }

    .destination-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destination-2{
        width: 92%;
    }
    .destination-2 .row img {
        aspect-ratio: 16/9; 
    }
    .row {
        grid-template-columns: 1fr;
    }
    .choose-us-section {
        width: 92%;
    }

    .choose-div-2,
    .choose-div-3,
    .choose-div-4,
    .similar-div {
        width: 100%;
        height: 40vh;
    }
    .choose-div-1{
        height: 20vh;
    }
    
    .choose-text-img {
        flex-direction: column;
        align-items: center;
    }

    .choose-div-1:not(:last-child),
    .choose-div-2:not(:last-child),
    .choose-div-3:not(:last-child),
    .choose-div-4:not(:last-child),
    .similar-div:not(:last-child) {
        margin-bottom: 3vh;
    }
    .newsletter-section{
        flex-direction: column;
        margin: 5vh auto;
        gap:2.5vh;
    }
    .newsletter input{
        width: 60vw;
        font-size: 1.9rem;
    }
    .newsletter .sub-btn{
        width: 60vw;
        font-size: 2.5rem;
    }
    .newsletter, .newsletter-img{
        width: 92%;
    }
    }